body{
	font-family: 'OpenSans', sans-serif;
}

.page1{
	background-color: #f6f2f2;
	min-height: 688px;
}

.main {
	
	max-width: 1249px;
	height: 89px;
	background-color: black;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

}

header > a{
	display: inline-block;
	padding: 38px 25px 30px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-family: 'OpenSans', sans-serif;
	font-size: 14px;
	line-height: 24px;
} 

header > a:hover {

	background-color: red;

}

.header-content {
	/* padding-left: 164px; */
	max-width: 1249px;
	/* background-color: #f6f2f2; */
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
}

.intro-class > p{
	
    /* padding: 108px 0 123px; */
	display: inline-block;
	height: 73px;
	width: 544px;
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 61px;
}

.intro-class {
	display: inline-block;
    width: 50%;
    vertical-align: top; 
    margin-right: 68px;
}

.intro-class > h1 {
	margin-top: 103px;
	display: inline-block;
	font-size: 60px;
	line-height: 72px;
	text-transform: uppercase;
	
}

.contact {
	display: inline-block;
	background-color: #ff2d2d;
	color: white;
	width: 227px;
	/* height: 55px; */
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	/* padding: 22px 0; */
	border-radius: 3px;
	
	
}

.square {
	position: relative;
	margin-top: 103px;
	display: inline-block;
	width: 551px;
	height: 356px;
	background-color: rgba(214, 61, 61, 0.911);
	
}

.square_small {
	position: relative;
	display: inline-block;
	/* justify-content: center;
	flex-direction: row; */
	margin: auto;
  	position: absolute;
  	top: 0; left: 0; bottom: 0; right: 0;
	width: 70px;
	height: 70px;
	background-color: #fff;
}


/* Часть 2 */
.page2 {
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
	margin-top: 107px;
	align-items: center;
    max-width: 1249px;
    justify-content: space-between;
	align-items: flex-start;
}
.block-left {
	width: 539px;
	/* margin: 0 auto; */
}

.block-left > h2 {

	display: inline-block;
	font-size: 42px;
	text-transform: uppercase;

}

.block-left > p {
	/* display: inline-block; */
	max-width: 539px;
	font-style: 16px;
	margin-bottom:64px;
}

.service > img {
	width: 37px;
	height: 37px;
}

.link_more {
	display: inline-block;
	text-decoration: none;
	color:#ff2d2d;
	border: solid;
	border-width: 2px;
	border-radius: 3px;
	width: 227px;
	text-align: center;
	/* padding-top:15px;
	padding-bottom: 15px; */
	font-style: 18px;
	line-height: 55px;
	width: 227px;
}




.block-right {
	display: flex;
	width: 640px;
	/* margin: 0 auto; */
	flex-wrap: wrap;
	margin-top: 63px;
	justify-content: center;
}

.service {
	display: flex;
	background-color: rgb(16, 225, 155);
	width: 50%; 
	flex-direction: column;
	
}

.page2_line {
	display: flex;
	margin-top:100px;

	width: 79vw;
	height: 2px;
	background-color: #ECECEC;
	margin-left: auto;
	margin-right: auto;

}



/* Page 3 */

.page3_header {
	text-align: center;
}


.page3_header > h2{
	margin-top: 104px;

	font-size: 41px;
	text-decoration: none;
	text-transform: uppercase;
}

.page3_header > p {
	height: 45px;
	font-size: 16px;
}

.underline{
	margin-top: 33px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	max-width: 134px;
	height: 2px;
	background-color: #ff2d2d;
}

.page3_menu_items {
	display: flex;
	margin-top: 86px;
	text-align: center;
	font-size: 22px;
    max-width: 1249px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    flex-direction: row;
    justify-content: space-evenly;
	margin-bottom: 58px;

}

.page3_menu_items > a{
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	
}

.page3_squaressssss {
	display: flex;
	justify-content: center;
}

.page3_squares {
	margin-bottom: 137px;
	display: flex;
	max-width: 1250px;
	/* min-height: 650px; */
	flex-wrap: wrap;
	justify-content: center;
	
}

.page3_double_squars {
	display: flex;
}

.page3_square {
	width: 300px;
	height: 300px;
	background-color: #5281FF;
	margin: 5px 5px;
}



/* PAGE 4 */

.page4 {
	max-width: 1249px;
	margin-left: auto;
	margin-right: auto;
}

.page4_header {
	display: flex;
	flex-direction: column;
}

.page4_header > h3 {
	text-transform: uppercase;
	font-size:41px;
	line-height: 0px;
}

.page4_header > p {
	font-size: 16px;
	line-height: 28px;
	max-width: 478px;
}

.page4_underline {
	display: flex;
	max-width: 134px;
	height: 2px;
	background-color: #ff2d2d;
}


.page4_header {
	display: flex;
	
}

/* Квадратики красные */

.page4_main {
	display: flex;
	margin-top: 67px;
	justify-content:space-between;
	align-items: flex-end;
	flex-wrap: wrap;
}

.page4_right {
	display: flex;
	flex-direction: column;
	max-width: 875px;
	min-height: 460px;
	justify-content: space-between;
}

.page4_left {
	background-color: #ff3f40;
	width: 324px;
	height: 460px;
}

.page4_information {
	display: flex;
	flex-direction: column;
}

.page4_information > h4{
	text-transform: uppercase;
	font-size: 30px;
	line-height: 0px;
	
}

.page4_text {
	font-size: 16px;
	line-height:28px;
	align-items: center;
	max-width: 663px;
	padding-right: 212px;
}

.page4_linlks_items {
	display: flex;
	font-style: italic;
	font-size: 18px;
	line-height:24px;
	max-width: 393px;
    justify-content: space-between;

}

.page4_linlks_items > a {
	text-decoration: none;
	color: black;
}

.page4_red_squares{
	display: flex;
	justify-content:space-between;
}

.page4_red_square {
	width: 198px;
	height: 216px;
	background-color: #ff3f40;
}


/* страница подписки */

.page_subscribe {
	margin-top: 106px;
	background-color: #2C2C2C;
	max-width: 1577px;
	min-height: 512px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	

}

.page_subscribe_content {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: column;
	align-content: center;
    align-items: center;
	margin-bottom: 56px;
}

.page_subscribe_content > h3 {
	color: #ffffff;
	font-size: 42px;
	line-height: 24px;


}

.page_subscribe_content > p {
	color: #ffffff;
	font-size:16px;
	line-height: 28px;
}

.fields {
	display: flex;
	justify-content: center;
}

.email {
	width: 573px;
	min-height: 82px;
	background-color: #ffffff;
	color: #2C2C2C;
	border-width: 2px;
    border-radius: 3px;
	margin-right: 19px;
	padding-left: 38px;
	display: flex;
	align-content: center;
    flex-wrap: wrap;
    justify-content: flex-start;


}

.subscribe {
	background-color: #FF2D2D;
	width: 217px;
	min-height: 82px;
	border-width: 2px;
    border-radius: 3px;
	display: flex;
	align-content: center;
    flex-wrap: wrap;
    justify-content: center;
	
}

.subscribe > p {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 34px;
}


/* PAGE 6 */


.page6 {
	margin-bottom: 107px;
	margin-top: 104px;
	max-width: 1249px;
	margin-left: auto;
    margin-right: auto;
}

.page6_header > h3 {
	text-transform: uppercase;
	color: #2C2C2C;
	font-size: 42px;
	line-height: 0px;
	margin-bottom: 45px;
}

.page6_header > p {
	width: 753px;
	margin-bottom: 58px;
	line-height: 28px;
	font-size: 16px;
}


.page6_underline {
	display: flex;
	max-width: 134px;
	height: 2px;
	background-color: #ff2d2d;
	margin-bottom: 73px;
}
/* Под подчеркиванием  */

.page6_main {
	display: flex;
	width: 1424px;
	justify-content: space-between;
}

.page6_left {
	display: flex;
	/* background-color:yellowgreen; */
	height: 485px;
	flex-direction: column;
	justify-content: space-between;
	width: 734px;
}

.page6_left_first {
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	width: 734px;
	
	
	

}

.page6_left_first_bottom {
	display: flex;
	align-items: center;
	background-color:#f6f2f2;
	width: 342px;
	height: 71px;
	border-width: 2px;
    border-radius: 8px;
}

.page6_left_first_bottom > p {
	padding-left: 56px;
	
	
}

.page6_left_second {
	font-size: 18px;
	max-width: 734px;
	height: 252px;
	background-color:#f6f2f2;
	border-width: 2px;
    border-radius: 8px;

}

.page6_left_second > p {
	padding-left: 56px;
	padding-top: 33px;
}

.page6_left_bottom {
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	line-height: 34px;
	background-color: #FF3B3B;
	max-width: 734px;
	height: 75px;
	border-width: 2px;
    border-radius: 8px;
	display: flex;
    justify-content: center;
}

/* CONTACT INFO BLACCCK */

.page6_right {
	background-color: #2d2d2d;
	width: 580px;
	height: 485px;
	display: flex;
	flex-direction: column;
    justify-content: center;
}

.page6_right > h3 {
	color:#ffffff;
	text-transform: uppercase;
	font-size: 18px;
	line-height:34px;
	margin-left: 81px;

}

.page6_right > p {
	color: #fff;
	font-size: 16px;
	margin-left: 81px;

}

footer {
	margin: auto;
	background-color: #313030;
	max-width: 1586px;
	height: 113px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer > p {
	color: #b8b8b8;
	font-style: 16px;
	line-height: 26px;
	margin-left: 171px;
}

.footer_social_network {
	display: flex;
	align-items: center;
	width: 185px;
	justify-content: space-between;
	margin-right: 168px;

}

.footer_social_network > img {
	width: 33px;
	height: 33px;
}

/* Фигита для адаптации */

@media screen and (max-width: 630px){
	.service {
		background-color: red;
		width: 90vw;
	}

}

@media screen and (max-width: 1212px) {
	.page2 {
		justify-content: center;
	}

	.page4_main {
		justify-content: center;

	}
}